@font-face {
    font-family: 'Roboto';
    src: url('../index.html');
    src: url('../index.html') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@mixin rang($x, $y) {
  color: $x;
  background-color: $y;
}
@mixin fonts($s){
  font-size: $s;
}
body {
  font-family: sans-serif;
}
.fix {
  position: relative;
  z-index: 2000 !important;
}

.img01 {
  position: fixed !important;

}


/* ================= NAVBAR MAIN ================ */
@media all and (max-width: 767px) {
    .navbar ul .products,
    .navbar ul .aboutus {
        display: none !important;
    }
}
.navbar {
  @include rang(#afb2b4, rgb(37, 37, 37));
  position: fixed;
  width: 100%;
  top: 0;

  i {

    font-size: 30px;
    font-weight: bold;
    padding-right: 30px;
    margin-top: 150px;
  }
}

/* حذف نقطه‌های li */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ================= IMAGE (img01) — FIXED & VISIBLE ================ */
/* مهم: z-index تصویر بالاتر از navbar تا همیشه قابل مشاهده باشد */
.img01 {
  position: fixed !important; /* همیشه فیکس بمونه */
  width: 180px;

  display: block;

  height: auto;
  pointer-events: auto; /* اگر لازم باشه قابل کلیک باشه */
  /* مقدار اولیه که در حالت موبایل درست باشه */
  top: 5px;
  left: 50%;

}

/* اگر خواستی قاب نگه‌دارنده هم تداخل نکند */
.fix {
  position: relative;

}

/* ================= IMAGE POSITION —RESPONSIVE ADJUSTMENTS=============== */
@media all and (min-width: 300px) and (max-width: 767px) {
    .navbar{
        height: 220px;
        background-image: url("../imges/back.png");
    }
}

@media all and (min-width: 300px) and (max-width: 991px) {
  .img01 {
    /* موبایل و تبلت کوچک: بالای صفحه و وسط */
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
  }
}

@media all and (min-width: 991px) {
  .img01 {
    /* دسکتاپ: کمی به سمت چپ و پایینتر (زیر هدر) */
    top: 30px;
    left: 15%;

    width: 180px;
  }
}

/* ================= NAVBAR DESKTOP (≥991px) ================ */

@media all and (min-width: 991px) {
  .navbar {
    height: 90px;
background-image: url("../imges/back.png");
    ul {
      display: flex;
      justify-content: flex-end;
      position: fixed;
      left: 42%;
 
      top: 45px;

      li {
        font-size: 17px;
        width: 110px;
        position: relative;
        transition: all 800ms 0s;
        text-align: center;
        a {
          text-decoration: none;
          @include rang(#afb2b4, rgb(37, 37, 37));
          transition: all 700ms 0s;
          cursor: pointer;
        }

        &:hover a {
          color: #ffffff !important;
        }
      }
    }
  }
  .lip1{border-right: 1px solid gray;}
  .lii{padding-left: 30px;}
  .komaki0{padding-left: 10px;}

}

/* ================= NAVBAR TABLET (768–990px) ================ */

@media all and (min-width: 768px) and (max-width: 990px) {
  .navbar {
    height: 220px;
    background-image: url("../imges/back.png");

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: fixed;
      padding-right: 90px;
      top: 170px;
      li {
        display: flex;
        @include fonts(17px);
        width: 105px;

        a {
          @include rang(#afb2b4, rgb(37, 37, 37));
          text-decoration: none;
        }

        &:hover a {
          color: #ffffff;
        }
      }
    }
  }
}

/* ================= DROPDOWN STYLE (PRODUCTS + ABOUT US) ================ */

/* حالت پنهان */
.navbar ul li .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
background-image: url("../imges/back.png");
  color: #afb2b4;

  padding: 10px 15px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-12px);
  transition: opacity .3s ease, transform .3s ease;

}

/* وقتی هاور می‌شود */
.navbar ul li:hover .dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);

}

/* آیتم‌های داخل dropdown */
.navbar ul li .dropdown p {
  margin: 0;
  padding: 6px 0;
  cursor: pointer;


  &:hover {
    color: #fff;
  }
}
.p1{
   @include rang(#94979a, white);
   @include fonts(17px);
}
//...............................................................................media mobile
@media all and (min-width: 300px) and (max-width: 767px){
  .job3{width: 100px;}
  .box{
    margin-top: 60px;

  }
  .job{
    margin: 20px auto;
   
    width: 300px;
  }
  .img02{
    width: 200px;
    margin: 5px auto;

  }
  .job2{display: flex;
  justify-content: center;
margin: 0px auto; }
.box4{
  width: 100%;
  background-image: url("../imges/back.png");
  color: #fff;
  @include fonts(15px);
  height: 1419px;

  .fot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    .fb-1{
      padding-right: 40px;
      margin: 3px auto;
      width: 330px;
      text-align: center;
      .img05{
        padding-bottom: 20px;
      }
      h6{

        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      p{
        color: #bcbec0;
       margin-bottom: -3px;
      }
    }
  }
}

.box2{width: 100%;
  margin-top: 190px;
  background-image:linear-gradient(rgb(251, 251, 251) 0%, rgb(210, 210, 210) 100%)
}

.row1{
  margin-left: auto;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 20px;
  .img03{width: 250px;margin: 10px auto;display: flex;justify-content: center;}
  .b31-2{padding-top: 20px;
  padding-left: 4px;
h5{
  color: red;
  @include fonts(25px);
  font-family: sans-serif;
}
p{
  @include fonts(20px);
  font-family: sans-serif;
  color: #b3b3b4;

}}  
}
}
.b1{display: flex;
  p{
    padding-left: 10px;
     @include fonts(20px);
        @include rang(red, white); 
        margin-top: 10px;
  }
  i{
        @include fonts(30px);
        color: #94979a;
      }
}
    .b2{
      display: flex;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      height: 90px;
      margin-top: 5px;
      h5{margin-top: 6px;font-weight: bold;color: #52575b;}
      .b22{margin-left: 20px;margin-top: 36px;}
      .b221{
        margin-left: 4px;
      }
      

    }
//.......................................................................................media desktop
@media all and (min-width: 768px){
  .box{
    display: flex;
    justify-content: center;
    width: 100%;       /* جلوگیری از اسکرول */
    max-width: 760px;  /* همون عرض قبل اما کنترل‌شده */
    margin: 0 auto;    /* وسط‌چین واقعی */
    padding-top: 130px;
    padding-left: 30px;
    .img02{width: 200px;}

  .job{
    padding-left: 50px;
    width: 500px;
    .p1{    font-size: 19px;
        font-family: sans-serif;}

 
    .b1{
      display: flex;
      margin-top: 20px;
      i{
        @include fonts(30px);
        color: #94979a;
      }
      p{
        font-size: 20px;
        @include rang(red, white); 
        margin-top: 10px;
        padding-left: 10px;
  
      }
 
    }
    .b2{
      display: flex;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      height: 60px;
      margin-top: 5px;
      h5{margin-top: 13px;font-weight: bold;color: #52575b;font-size: 17px;width: 190px;}
      .b22{margin-left: 140px;margin-top: 5px;}
      .b221{
        margin-left: 6px;
      }
      

    }
  }
}
  .img03{width: 300px;padding-top: 130px;margin-left: 60px;}
.b3{display: flex;
justify-content: center;}
.row1{
  display: flex;
  justify-content: center;
}
  .b31-2{
    margin-top: 220px;
    position: relative;
    left: 10%;
    h5{display: flex;
    justify-content: center;
  font-size: 55px;
color: red;}
    p{
      display: flex;
    justify-content: center;
    font-family: sans-serif;
 @include fonts(20px);
color: #94979a;
    }


  
}
.box2{
height: 455px;
background-image:linear-gradient(rgb(251, 251, 251) 0%, rgb(210, 210, 210) 100%)
}
.box4{
  width: 100%;
  background-image: url("../imges/back.png");
  color: #fff;
  @include fonts(16px);
  height: 419px;

  .fot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .fb-1{
      padding-right: 40px;
      width: 185px;

      .img05{
        padding-bottom: 20px;
      }
      h6{

        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      p{
        color: #bcbec0;
       margin-bottom: -3px;
       cursor: pointer;
       transition: all 500ms 0s;
      }
      .p2:hover{color: #fff;}
    }
  }
}
.box9{
  width: 680px;
  margin: 80px auto;
  p{
    @include fonts(19px);
    color: #aeb3b7;
    font-family: sans-serif;
  }
  .h61{font-size: 22px;
  color: red;}
}

}
////////////////////////////////////////////////////////////////////////////////////////////for foter
@media all and (min-width: 300px) and (max-width: 500px){
  .box4{
  width: 100%;
  background-image: url("../imges/back.png");
  color: #fff;
  @include fonts(15px);
  height: 1219px;

  .fot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    .fb-1{
      padding-right: 40px;
      margin: 3px auto;
      width: 300px;
      text-align: center;
      .img05{
        padding-bottom: 20px;
      }
      h6{

        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      p{
        color: #bcbec0;
       margin-bottom: -3px;
      }
      .p2:hover{color: #fff;}
    }
  }
}
.box9{
  width: 300px;
  margin: 60px auto;
  p{
    @include fonts(19px);
    color: #aeb3b7;
  }
  .h61{font-size: 22px;
  color: red;}
}
}
@media all and (min-width: 501px) and (max-width: 767px){
  .box4{
  width: 100%;
  background-image: url("../imges/back.png");
  color: #fff;
  @include fonts(15px);
  height: 1219px;

  .fot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    .fb-1{
      padding-right: 40px;
      margin: 3px auto;
      width: 390px;
      text-align: center;
      .img05{
        padding-bottom: 20px;
      }
      h6{

        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      p{
        color: #bcbec0;
       margin-bottom: -3px;
       transition: all 600ms 0s;
      }
      .p2:hover{color: #fff;}
    }
  }
}
.box9{
  width: 500px;
  margin: 50px auto;
  p{
    @include fonts(19px);
    color: #aeb3b7;
  }
  .h61{font-size: 22px;
  color: red;}
}
}
////////////////////////////////////////////////////////////////////////////////////////////for foter
.box5{
  height: 95px;
  display: flex;
  margin-bottom: -10px;
  @include fonts(38px);
  margin-top: 30px;
  padding-top: 25px;
    .icon1{
    margin-right: 10px;
    transition: all 600ms 0s;
    margin-top: -10px;
    cursor: pointer;
  }

  justify-content: center;
  .i1:hover{color: rgb(128, 128, 218);}
  .i2:hover{color: rgb(167, 167, 244);}
  .i3:hover{color: rgb(216, 23, 10);}
  .i4:hover{color: rgb(42, 156, 194);}
  .i5:hover{color: rgb(177, 25, 86);}
  .i6:hover{color: rgb(22, 128, 55);}
  @include rang(rgb(185, 184, 184),#edeaea )
}
.box6{background-color: red;
height: 25px;
margin-bottom: -10px;}
.fot2{text-align: center;
margin-top: 70px;
color: #bcbec0;
p{
  color: gray;
  @include fonts(12px);
  margin-top: -3px;
 
}
h6{
 @include fonts(15px);
  color: #9f9f9f;  
}
}
/////////////////////////////////////////////////////////////////////////////////////for pair web
@media all and (min-width: 767px) and (max-width: 991px){


.box2{
height: 455px;
margin-top: 90px;
width: 100%;



background-image:linear-gradient(rgb(251, 251, 251) 0%, rgb(210, 210, 210) 100%)
}} 
.know{margin-top: 30px;}
.p2{@include fonts(14px);}
.font{color: #9c9c9d;}
.komaki3{margin-bottom: 60px;}
.fix2{bottom: 4%;
right: 4%;
position: fixed;
width: 30px;
height: 30px;
background-color: #7a7a7a;
text-align: center;
color: rgb(218, 216, 216);
.fix22{font-size: 20px;color: #fff;
}

}
/* ================== SAFE HORIZONTAL SCROLL FIX ================== */

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

/* جلوگیری از بیرون‌زدن همه عناصر */
* {
  box-sizing: border-box;
  max-width: 100%;
}

/* کنترل عناصر fixed */
.navbar,
.navbar ul,
.img01 {
  max-width: 100vw;
}

/* جلوگیری از overflow ناشی از left و padding بزرگ */
@media all and (max-width: 991px) {
  .navbar ul {
    right: 0;
    left: auto;
    max-width: 100vw;
  }
}

/* بلاک‌های با padding-left بزرگ */
.b31-2 {
  max-width: 100%;
  overflow-x: hidden;
}

/* تصاویر */
img {
  max-width: 100%;
  height: auto;
}
/* بک‌گراندها */
.navbar,
.box2,
.box4 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar ul li .dropdown {
  width: 190px;
  text-align: start;
  left: -20%;

}
.navbar ul li .dropdown {
  max-width: none !important;
}
//@media all and (min-width: 999px) {
//.box9,.b31-2,.img03{  

 // animation: slideIn 1s ease forwards;
//}
//@keyframes slideIn {
//  from {
//    transform: translateX(100%);
//  }
//  to {
 //   transform: translateX(0);
 // }
//}
//}




